*{
    box-sizing: border-box;
    
}
p{
    margin:5px;
    padding: 0px;
    line-height: 20px;
}
h2{
    font-size: 40px;
    color: orangered;
    text-shadow: 1px 2px 2px black;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border:1px solid lightgray;
    border-radius: 4px;
    width: 75%; 
    height: 1000px;
    
}
.image-box{
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
}
.avatar{
    width: 10%;
    border-radius: 50%;
}
.container2{
    text-align:left ;
}
.cancelbtn {
    
    margin-left: 250px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.cancelbtn2 {
    
    margin-left: 225px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
span.psw {
    float: right;
    padding-top: 16px;
    margin-right: 250px;
    color: royalblue;
    font-size: 20px;
}
.login{
    float: right;
    margin-right: 100px;
    color: royalblue;
    font-size: 20px;
    width: 250px;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
.register1{
    color: lime;
    text-shadow:1px 1px 1px black;
}
body{
    background-color: rgb(228, 230, 225);
    margin: 15px 30px;
    margin-top: 0px;
    font-size: 17px;
    padding: 8px;
}
button:hover{
    background-color: #4caf84;
    color: #f44336;
}
button{
    
    background-color: #4daea1;
    border:none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    width: 50%;
}
.register{
    margin-top: -4px;
    font-size: 40px;
    color: darkgreen;
    text-shadow: 1px 2px 2px black;

}
.registerbutton:hover{
  color: #f44336;
  background-color: aquamarine;
}
.registerbutton{
    color: chartreuse;
    background-color:rgb(172, 136, 172);
    border:none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    width: 50%;

}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="EMAIL"]
{
    width:50% ;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}/*
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
  
@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
  
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}*/